@{
    ViewBag.Title = "Hungry";
}

<div class="jumbotron">
    <h1>HUNGRY</h1>
    <p class="lead">
        This website is currently under construction; however, when it's done, it will provide 
        information realted to restaurants and the quality of food they provide.
    </p>
    <p><a href="https://www.tripadvisor.com/Restaurant_Review-g34678-d4427817-Reviews-211_Restaurant-Tampa_Florida.html" target="_blank"
          class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>


<div>
    @Html.ActionLink("Restaurants", "Index", "Restaurants")<br />
    @Html.ActionLink("Reviews", "Index", "Reviews")
</div>
